/* шапка сторінки */

.hat {
  width: 1600px;
  height: 150px;
  background-color: var(--color-white);
  border: 1px solid #ececec;
  display: flex;
  flex-direction: row;
}

a {
  list-style: none;
  text-decoration: none;
}

/* Логотип */

.hat-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.firstlogo {
  color: var(--color-blue);
}
.secondlogo {
  color: var(--second-black-text);
}

/* навігація */

.link-navi a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  display: flex;
  flex-direction: row;

  letter-spacing: 0.02em;
  color: var(--second-black-text);
}
/* контакти шапки */
.hat-contact a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  letter-spacing: 0.02em;
  color: var(--general-gray-text);
}

.hat a:hover,
.hat a:focus {
  color: var(--color-blue);
}
/* футер */
.section-footer {
  width: 1600px;
  height: 252px;
  background-color: var(--color-footer);
}
/* логотип футер */
.logofooter {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.thirdlogo {
  color: var(--color-blue);
}

.fourthlogo {
  color: var(--color-white);
}
/* футер адреса */
.footaddress .cont {
  color: rgba(255, 255, 255, 0.6);
}

.footaddress .maps {
  color: var(--color-white);
}
/* секція герой */
.hero {
  background-color: var(--color-footer);
  width: 1600px;
  height: 600px;
  text-align: center;
}

.hero-phrase {
  width: 696px;
  height: 120px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;

  padding: 200px 452px 30px 452px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--color-white);
}

.button-hero {
  width: 216px;
  height: 50px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  margin: 0 692px 200px 692px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--color-white);
  background-color: var(--color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* секція факти */
.quality h2 {
  position: absolute;
  opacity: 0;
}
.quality ul {
  width: 1170px;
  margin: 94px 215px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fact {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--second-black-text);
}

.descr {
  width: 270px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;

  padding-top: 10px;

  color: var(--general-gray-text);
}
/* чим ми займаємось */
.work {
  width: 1170px;
  height: 386px;

  margin: 94px 215px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.work ul {
  display: flex;
  justify-content: space-between;
}
.work > h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
}
/* команда */
.team {
  width: 1600px;
  height: 648px;
  background-color: #f5f4fa;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.team > h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-black-text);
  padding-top: 94px;
  padding-bottom: 50px;
}

.team ul {
  list-style: none;
  justify-content: space-between;
  display: flex;
  width: 1170px;
}
